/* Ultimate-menu CSS */
#um_loader {
	width: 80%;
	display: none;
	position: relative;
	width: calc(80px / cos(45deg));
	height: 0.25rem;
	--c: #000 0 15px,#0000 0 20px;
	background:
		repeating-linear-gradient(135deg,var(--c)) left top,
		repeating-linear-gradient( 45deg,var(--c)) left bottom;
	background-size:  200% 50%;
	background-repeat: no-repeat;
	animation: umloader 2s infinite linear;
}
#um_icon_list {
	flex-basis: 85%;
}
#advum_icons {
	display: none;
}
@keyframes umloader {
	100% {background-position:top right,bottom right}
}
input.um_button {
	margin-left: 0.25rem !important;
}
.um_hideSelect {
	cursor: pointer;
}
.ultimateMenu_drop {
	display: block;
	position: relative;
}
.ultimateMenuDrop {
	border: 2px solid;
	border-radius: 3px;
	padding: 5px 10px;
	max-width: 100%;
	min-width: 100%;
	vertical-align: middle;
	display: block;
}
.ultimateMenu_drop ul {
	display: none;
	box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid #ddd;
	border-radius: 3px;
	max-height: 250px;
	overflow: auto;
	position: absolute;
	bottom: 0;
	width: auto;
	left: 0;
	z-index: 99;
	font-family: "Courier New", Courier, monospace;
}
.ultimateMenu_drop ul li {
	padding: 5px 10px;
	cursor: grab;
	width: 100%;
	flex: 1 1 200px;
	flex-basis: 100%;
}
.ultimateMenu_drop ul li:hover {
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}
span.um_icon_container {
	padding: 5px 10px 5px 0.5rem;
	display: inline-flex;
}
.um_icon {
	border: 0px;
}
.um_icon_selected {
	border: 1px solid black;
	border-radius: 10px;
}
.um_icon_container {
	flex-basis: 15%;
	justify-content: flex-end;
	align-items: center;
}
.advum_icons {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: fit-content;
	flex-wrap: nowrap;
	white-space: nowrap;
}
.um_dd_file {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.um_file_button {
	flex-basis: 60%;
}
.um_file_loading {
	flex-basis: 30%;
	height: 100%;
}
.um_dd_files_list {
	display: inline-flex;
	height: 42px;
}
.um_strong {
	font-weight: 800;
}
.um_italic {
	font-style: italic;
}
.um_grid_line {
	display: grid;
	grid-template-columns: fit-content(1rem) 1fr;
	gap: 0.5rem;
	padding-bottom: 0.15rem;
}
.um_dl_padding {
	overflow: hidden;
}
dl.um_dl_padding > * {
	padding: 0.35rem 0rem;
}
img#um_icon_img {
	cursor: default;
	width: 16px;
	height: 16px;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 1.5s ease-in-out;
}
img#um_icon_img:hover {
	cursor: zoom-in;
	transform: scale(2.5, 2.5);
	transition: all 1.5s ease-in-out;
	filter: contrast(1.1) brightness(1.05);
}
